html
    font-size 14px
    
html, body
    padding 0
    margin 0
    
body
    background-color #111
        
$clear-block
    display block
    clear both
    
    &::after
        content ''
        display table
        clear both
        
$red-button
    display block
    font 700 12px/18px Arial
    text-align center
    text-decoration none
    background linear-gradient(to bottom, #a92925 0%, #660908 100%)
    border solid 1px #b23430
    border-radius 3px
    color #fff
    cursor default
    transition .5s opacity ease
    opacity .8
    
    &[href]
        opacity 1
        cursor pointer
    
    &:hover
        opacity .8
    
icon-arrow($direction = 'right', $size = 40px, $color = #888, $stroke = 1px)
  &:after
    content: ''
    border-right: $stroke solid $color
    border-top: $stroke solid $color
    display: block
    height: unit($size * 0.625, 'px')
    width: unit($size * 0.625, 'px')
    margin-left: 1%
    if $direction == 'right'
      transform: rotate(45deg) translateX(unit($size * -0.1, 'px')) translateY(unit($size * 0.1, 'px'))
    else if $direction == 'left'
      transform: rotate(-135deg) translateX(unit($size * -0.1, 'px') ) translateY(unit($size * 0.1, 'px'))
    else if $direction == 'down'
      transform: rotate(135deg) translateX(unit($size * -0.1, 'px')) translateY(unit($size * -0.1, 'px'))
    else if $direction == 'up'
      transform: rotate(-45deg) translateX(unit($size * -0.1, 'px')) translateY(unit($size * 0.3, 'px'))