@import 'defaults.styl'
@import 'blocks/*.styl'

.lp-page
    display block

    &--front::before
        content ''
        display block
        absolute top 60px left 0 width 100% height 440px
        background radial-gradient(ellipse 50% 50%, #fff, #111) no-repeat
        z-index 0