.lp-faq
  &__content
    padding 24px

  &__title
    display block
    position relative
    font-size 18px
    font-weight 700
    color #b23430
    text-shadow 1px 1px #00000044
    padding 10px
    cursor pointer

    &:hover
      text-decoration underline

  &__body
    overflow hidden
    max-height 0
    transition .5s all ease
    font-size 14px
    color #000
    padding 0 10px

    a
      color #b23430
      text-decoration underline

  &__switch
    display none

    &:checked + .lp-faq__item .lp-faq__body
      max-height 600px