.lp-footer
    clearfix()
    background inline-image('footer-bg.png') repeat
    padding 20px 0
    
    &__inner
        width 926px
        margin 0 auto
    
    &__logo, &__copyright
        display block
        float left
        
    &__copyright
        font 11px/1.5 Arial
        margin 40px 30px
        padding 3px
        background-color red
        color #fff
        
    &__socials
        display block
        float right
        size 447px 102px
        bg 'images/bottom-twiter-facebook.png' 50% 50% no-repeat