.lp-slider
    position relative
    
    &__wrapper
        display block
        absolute bottom 0 width 100%
        text-align center
        font-size 0
    
    &__controls
        @extends $clear-block
        display inline-block
        background-color #eee
        border-bottom solid 2px #990000
        border-radius 10px 10px 0 0
        
    &__button
        display block
        float left
        font 14px/34px Arial
        text-align center
        color grey
        width 2em
        border none
        background-color #eee
        outline none
        padding 0
        margin 0 1px
        cursor pointer
        transition .5s all ease
        
        &--active, &:hover
            background linear-gradient(to bottom, #eee 0%, #999 100%)
            border-radius 5px
            color #990000
            font-weight 700
            
        &-next, &-prev
            display block
            float left
            size 1.8em 1.8em
            margin .4em .4em
            border solid 2px #fff
            border-radius 50%
            background-color #990000
            box-shadow 0 0 10px 0px #555
            outline none
            cursor pointer
            transition .5s all ease
            
            &:hover
                box-shadow 0 0 3px 0px #555
                background-color #c00
            
        &-prev
            icon-arrow left 10px #fff 2px
            
            &::after
                size 5px 5px
                transform translate(0, 0) rotate(-135deg)
            
        &-next
            icon-arrow right 10px #fff 2px
            
            &::after
                size 5px 5px
                transform translate(-2px, 0) rotate(45deg)