.lp-header
    position relative
    display block
    box-sizing border-box
    width 100%
    
    &__slider
        position relative
        width 926px
        height 334px
        overflow hidden
        margin 0 auto
        z-index 1