.lp-header
    position relative
    display block
    box-sizing border-box
    width 100%
    
    &--front::before
        content ''
        display block
        absolute 0 0
        size 100% 440px
        background radial-gradient(ellipse 40% 50%, #fff, #111) no-repeat
        z-index 0
    
    &__slider
        position relative
        width 926px
        height 334px
        overflow hidden
        margin 0 auto
        z-index 1