.lp-header
    position relative
    display block
    box-sizing border-box
    width 100%
    
    &__slider
        position relative
        box-sizing border-box
        border solid 3px #7b7b7b
        border-radius 4px
        width 926px
        height 334px
        overflow hidden
        margin 0 auto
        z-index 1
        
    &__slide
        display block
        absolute top 0 left 0