.lp-node
    width 926px
    margin 0 auto
    
    &__title
        font 36px/100px Arial
        text-align center
        text-shadow 1px 1px 1px #333
        color #fff
        bg 'images/node-title-bg.png' 50% 100% no-repeat
        margin 0
        
    &__body
        bg 'images/node-content-bg.png' 50% 0 repeat-y
        
        h3
            color #990000
        
        hr
            display block
            border none
            height 37px
            background inline-image('hr-bg.gif') 50% 50% no-repeat
        
    &__content
        font 16px/1.5 trebuchet ms, helvetica, sans-serif
        padding 70px 20px 10px
        color #444
        
    &__footer
        height 12px
        bg 'images/node-content-bottom.png' 50% 0 no-repeat