.lp-node
    width 926px
    margin 0 auto
    
    &__title
        font 36px/100px Arial
        text-align center
        text-shadow 1px 1px 1px #333
        color #fff
        bg 'images/node-title-bg.png' 50% 100% no-repeat
        margin 0
        
    &__body
        display table
        width 926px
        bg 'images/node-content-bg.png' 50% 0 repeat-y
        
        h3
            color #990000
        
        hr
            display block
            border none
            height 37px
            background inline-image('hr-bg.gif') 50% 50% no-repeat
        
    &__content
        display table-cell
        box-sizing border-box
        width 685px
        font 16px/1.5 trebuchet ms, helvetica, sans-serif
        padding 70px 20px 10px
        color #444
        
    &__footer
        height 12px
        bg 'images/node-content-bottom.png' 50% 0 no-repeat

    &__submenu
        display table-cell
        box-shadow border-box
        width 240px
        background inline-image('images/right-content-bg.png') 0 0 repeat-y
        vertical-align top

    .lp-submenu
        &__item
            display block
            font 700 14px/1.5 Arial
            text-shadow 1px 1px 1px #fff
            text-decoration none
            color #000
            padding 4px 20px
            background inline-image('submenu-item-bg.png' ) 50% bottom no-repeat
            
            &--active
                background-color #d8d8d8