.lp-profile
    width 380px

    .form-item
        label
            font 700 14px/2 Arial

    .description
        font 500 12px/1.2 Arial
        color #ccc

    .form-text
        font 500 18px/1.2 Arial
        width 100%

    .form-submit
        @extends $red-button

    &__link
        font 500 12px/1.2 Arial
        color #990000