.lp-sharing
    text-align right
    font-size 0
    width 926px
    margin 0 auto
    padding 10px 0
    
    &__button
        display inline-block
        size 26px 26px
        background 50% 50% no-repeat
        margin-left 10px
        transition .5s opacity ease
        opacity 1
        
        &:hover
            opacity .8
        
        &--tw
            background-image inline-image('tweeter-icon.gif')
            
        &--fb
            background-image inline-image('facebook-icon.gif')
